/* line 1, /Users/susantas/Documents/Projects/Ruby_Projects/Online_Auction_System/online_auction/app/assets/stylesheets/welcome.scss */
.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}
